﻿@{
    ViewData["Title"] = "Home Page";
}

<form asp-controller="Home" asp-action="Сonversion" name="addForm" class="file-loading file-loading-width mt-4"
      enctype="multipart/form-data" onsubmit="AJAXSubmit(this);return false;"
      method="post">

    <input type="file" name="uploadedFile" onchange="document.getElementById('but_sub').disabled = false;"/><br>

    <button id="but_sub" type="submit" class="btn btn-sm btn-success mt-2" style="width: 256px;" disabled="disabled">Конвертировать в Pdf</button>

    <div style="margin-top:15px">
        <progress id="fileProgrress" style="width: 256px; display: none"></progress><br>
        <output name="result"></output>
    </div>
</form>

<script>
    async function AJAXSubmit(oFormElement) {
        $('#fileProgrress').show();
        $('#fileProgrress').removeAttr('value', 'max');

        let resultElement = oFormElement.elements.namedItem('result');
        resultElement.value = 'Выполняется обработка данных пожалуйста подождите...';

        let formData = new FormData(oFormElement);

        try {
            const response = await fetch(oFormElement.action, {
                method: 'POST',
                body: formData
            });

            const reader = response.body.getReader();
            const contentLength = +response.headers.get('Content-Length');
            let receivedLength = 0;
            let chunks = [];
            while (true) {
                const { done, value } = await reader.read();
                if (done) {
                    break;
                }
                $('#fileProgrress').attr({ value: receivedLength, max: contentLength});
                chunks.push(value);
                receivedLength += value.length;

                //console.log(`Получено ${receivedLength} из ${contentLength}`)
            }

            if (response.ok) {
                resultElement.value = 'Файл сконвертирован';
                const url = window.URL.createObjectURL(new Blob(chunks));
                const a = document.createElement('a');
                document.body.appendChild(a);
                a.href = url;
                a.download = "output.pdf";
                a.click();
                window.URL.revokeObjectURL(url);
                a.remove();
                $('#fileProgrress').hide();
            }
            else {
                resultElement.value = 'Result: ' + response.status + ' ' + response.statusText;
            }

        } catch (error) {
            console.error('Error:', error);
        }
    }
</script>
